<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>
            View the complete code on 
            <a href="https://github.com/s204475/s204475.github.io" target="_blank">GitHub</a> 
            and explore the notebook used for making the plots 
            <a href="https://github.com/AleksandarLukic96/02806_Social_Data/blob/main/notebooks/A2.ipynb" target="_blank">here</a>.
        </p>
        <p>&copy; 2025 </p>
    </footer>
</body>

</html>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    header {
        background-color: #333;
        color: white;
        padding: 10px 0;
        text-align: center;
    }

    main {
        padding: 20px;
    }

    footer {
        text-align: center;
        padding: 10px 0;
        background-color: #333;
        color: white;
    }
</style>